
out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-109d77596c3ce6e6764b.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-ed85a9d3a9a2dc53f9f8.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-3dd7d21f5f9bbd3e1296.json
out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-debug/.cmake/api/v1/reply/index-2022-10-28T06-56-23-0356.json
out/build/x64-debug/.cmake/api/v1/reply/target-DigitalPiano_cmake-Debug-a2a1a5370b8422977f5f.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-b85655f3638a06d0ce4b.json
out/build/x64-debug/build.ninja
out/build/x64-debug/cmake_install.cmake
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/cmake.check_cache
out/build/x64-debug/CMakeFiles/CMakeOutput.log
out/build/x64-debug/CMakeFiles/rules.ninja
out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/CMakeFiles/TargetDirectories.txt
out/build/x64-debug/Testing/Temporary/LastTest.log
out/build/x64-debug/VSInheritEnvironments.txt
out/build/x64-release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-release/.cmake/api/v1/reply/cache-v2-e4d308ecfd7fe929257d.json
out/build/x64-release/.cmake/api/v1/reply/cmakeFiles-v1-9b90207da497db7b32cc.json
out/build/x64-release/.cmake/api/v1/reply/codemodel-v2-06cfd3855f990ea066b4.json
out/build/x64-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
out/build/x64-release/.cmake/api/v1/reply/index-2022-10-28T07-12-30-0088.json
out/build/x64-release/.cmake/api/v1/reply/target-DigitalPiano_cmake-Release-c3bff938b8996e5372f3.json
out/build/x64-release/.cmake/api/v1/reply/toolchains-v1-b85655f3638a06d0ce4b.json
out/build/x64-release/.ninja_deps
out/build/x64-release/.ninja_log
out/build/x64-release/arab2.mid
out/build/x64-release/blackkeys.mid
out/build/x64-release/build.ninja
out/build/x64-release/cianwood.mid
out/build/x64-release/clairedelune.mid
out/build/x64-release/cmake_install.cmake
out/build/x64-release/CMakeCache.txt
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-release/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-release/CMakeFiles/cmake.check_cache
out/build/x64-release/CMakeFiles/CMakeOutput.log
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/Binasc.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/main.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/MidiEvent.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/MidiEventList.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/MidiFile.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/MidiMessage.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/minisdl_audio.c.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/Options.cpp.obj
out/build/x64-release/CMakeFiles/DigitalPiano_cmake.dir/RtMidi.cpp.obj
out/build/x64-release/CMakeFiles/rules.ninja
out/build/x64-release/CMakeFiles/ShowIncludes/foo.h
out/build/x64-release/CMakeFiles/ShowIncludes/main.c
out/build/x64-release/CMakeFiles/ShowIncludes/main.obj
out/build/x64-release/CMakeFiles/TargetDirectories.txt
out/build/x64-release/credits.mid
out/build/x64-release/DigitalPiano_cmake.exe
out/build/x64-release/DigitalPiano_cmake.exe.manifest
out/build/x64-release/mozartk545.mid
out/build/x64-release/pokeCredits.mid
out/build/x64-release/SOSPIRO.mid
out/build/x64-release/soundfile_1.sf2
out/build/x64-release/Testing/Temporary/LastTest.log
out/build/x64-release/theEnd.mid
out/build/x64-release/VSInheritEnvironments.txt
.vs/CMake Overview
.vs/cmake.db
.vs/DigitalPiano_cmake/FileContentIndex/3e61bb55-56d4-4355-a988-4ca766a592c1.vsidx
.vs/DigitalPiano_cmake/FileContentIndex/4bf27b57-60d5-4dc1-b299-669f4ebd2585.vsidx
.vs/DigitalPiano_cmake/FileContentIndex/845ed161-1141-4f70-8b4d-2151244747a8.vsidx
.vs/DigitalPiano_cmake/FileContentIndex/904d9b1d-74cc-45be-98f2-25f0a37b4def.vsidx
.vs/DigitalPiano_cmake/FileContentIndex/read.lock
.vs/DigitalPiano_cmake/v17/.suo
.vs/DigitalPiano_cmake/v17/Browse.VC.db
.vs/DigitalPiano_cmake/v17/ipch/AutoPCH/196a79f793783780/MAIN.ipch
.vs/DigitalPiano_cmake/v17/ipch/AutoPCH/4da85a9215401905/DIGITALPIANO_CMAKE.ipch
.vs/DigitalPiano_cmake/v17/ipch/AutoPCH/5758c0028f03348e/MAIN.ipch
.vs/DigitalPiano_cmake/v17/ipch/AutoPCH/6f9f80aa8a3686e4/DIGITALPIANO_CMAKE.ipch
.vs/DigitalPiano_cmake/v17/ipch/AutoPCH/a6667fa0d98e6874/BACK.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
